// mixin flex

@mixin flex{
    background-color: #55cbcd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

// mixin grid

@mixin grid ($grid, $column, $row){
    display: $grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}